# CODEOWNERS - Gobernanza Digital SGD
# Este archivo define la propiedad del codigo y revision obligatoria en Pull Requests
# Documentacion: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Equipo dueno del producto (revision obligatoria por defecto)
*                           @gobernanza-digital/llave-unica-equipo

# Infraestructura y configuracion Cloud
/infra/                     @gobernanza-digital/llave-unica-equipo @gobernanza-digital/platform-admins
*.tf                        @gobernanza-digital/platform-admins
*.tfvars                    @gobernanza-digital/platform-admins

# CI/CD y Gobernanza
.github/                    @gobernanza-digital/platform-admins
CODEOWNERS                  @gobernanza-digital/platform-admins
.github/CODEOWNERS          @gobernanza-digital/platform-admins